table.screen {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	margin-top:auto;
	width: 100%;
	height: 100%;
	position: relative;
	background:url("Background.png");
}

table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#FFFFFF;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	/*height: 400px;*/
	height: 100%;
	/*width: 800px;*/
	width: 100%;
	
	left: 10 px;
	right: 10px;
	top: 4px;
	/*
	position: absolute;
	*/
	position: relative;
	text-align: center;
}
table.imagetable tr {
	height: 10%;
}
table.imagetable th {
	background:#041692 url("cell-blue.jpg");
	background-size: 100% 100%;
	border-width: 3px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
	width: 16.6%;
	color: #eb9c31;
	font-size: 1em;
	height: 30%;
}
table.imagetable td {
	background:#041692 url("cell-blue.jpg");
	border-width: 3px;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
	font-size:2em;
	color: #eb9c31;
}


table.buttonTable {
	font-family: verdana, arial, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	border-width: 1px;
	border-color:#00FF00;
	border-collapse: collapse;
	right: 10px;
	top: 10px;
	text-align:center;
	width: 150px;
	/*width: 100%;*/
	height: 100%;
	left: 10px;
	position: relative;
}
table.buttonTable tr {
	height:14.3%;
	width: 100%;
	
}
table.buttonTable td {

	border-width: 3px;
	padding: 1px;
	border-color: #000000;
	font-size: 1em;
	text-align: center;
	vertical-align:center;
	width: 100%;
	/*height: 100%;*/
}

button.button1 {
	background:#041692;
	color:#FFFFFF;
	width: 80%;
	height: 80%;
	/*width: 100%;
	height: 100%;
*/	
}
button.button2 {
	width:85%;
	background:#041692;
}

table.podium {
	background:#eb9c31;
	width:198px;
	padding:0px;
	cellspacing: 0px;
	vertical-align:bottom;
	/*width: 100%;*/
	height:65px;
	/*height: 10%;*/
	position: relative;
	text-align: center;
	color: white;
}

table.podium tr {
	height:18px;
	/*height: 100%;*/
}

tr.podiumTimer{
	height:18px;
	/*height: 100%;*/
}
td.podium5 {
        background:black;
}
td.podium4 {
	background:black;
}
td.podium3 {
	background:black;
}
td.podium2 {
	background:black;
}
td.podium1 {
	background:black;
}

td.podiumTop {
	background:black;
	width:95%;
	height:18px;
	color: white;
}

td.podiumScore {
	background:blue;
	width: 95%;
	height:18px;
	color: white;
	text-align:center;
}
